/* CSS Document */
body{
    width: auto!important;
    padding-left: 75px!important;
}
nav{
    background-color: #1c2024;
    padding-top: 15px;
    padding-bottom: 10px;
}

#navbar{
    position: fixed;
    left: 0px;
    background-color: #1c2024;
    height: 100%;
    width: 75px;
    color: #fff;
    border-right: #5c6b78 solid;
    border-right-width: thin;
    
}
.icobar{
    width: 35px;
    height: 35px;
}
.icobarcontactive{
    padding: 15px 20px;
    /*aggiungere colore del campo attivo e nel html sostituire la classe
    iconbarcont con iconbarcontactive*/
    background-color: #f6f6f6;
}
.icobarcont{
    padding: 15px 20px;
}
#homebg{
    margin-top: 10px;  
}
.icobarcont:hover{
    background-color: #ffb300;
}

#logoutbg{
    position: absolute;
    bottom: 10px;
    height: 45px;
    width: 35px;
}
#home{
    background-image: url("../icons/md-contact.svg");
}
#calendar{
    background-image: url("../icons/md-calendar.svg");
}
#option{
    background-image: url("../icons/md-options.svg");
}
#vote, #vote1{
    background-image: url("../icons/md-paper.svg");
}
#logout{
    position: absolute;
    bottom: 20px;
    background-image: url("../icons/md-log-out.svg");
}

