/* CSS Document */
html{height: 100%;}
body {
    margin: 0;
    color: #1c2024;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: #8e141f!important;
    width: 100%;
    height: 100%;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: #ffb300 ;
}
a:hover{
    text-decoration: none;
    color: #8e141f;
}
::-webkit-scrollbar{
    background-color: #fff;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #1c2024;
}
.btn{
	width: 130px;
}
header > img{
    background-color: #ffb300;
    width: 100%;
}
article{
    padding: 0em 5em 1em 5em;
}
table{
    margin: auto;
}
td{
    padding: 5px 10px;
    text-align: center;
}
h1{
    font-size: 3em;
    text-align: center;
}
footer{
    
    width: 100%;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    height: 50px;
    padding: 5px 0px;
}


#login_area{
    padding: 0em 0em;
    width: 100%;
    height: auto;
    background-color: #1c2024;
    border-radius: 0px 0px 10px 10px;
}
#login_area > h1{
    color: #fff;
}
#main_page{
    background-color: #fff;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    border-radius: 10px 10px 10px 10px;
}
#cont{
    display: block;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
#push{
    height: 50px;
}
