/* CSS Document */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: #1c2024;
}

#navbar{
    position: fixed;
    left: 0px;
    background-color: #1c2024;
    height: 100%;
    width: 75px;
    color: #fff;
    border-right: #5c6b78 solid;
    border-right-width: thin;
    
}
.icobar{
    width: 35px;
    height: 35px;
}
.iconbarcontactive{
    padding: 15px 20px;
    /*aggiungere colore del campo attivo e nel html sostituire la classe
    iconbarcont con iconbarcontactive*/
    background-color: crimson;
}
.icobarcont{
    padding: 15px 20px;
}
#homebg{
    margin-top: 10px;  
}
.icobarcont:hover{
    background-color: #ffb300;
    background: -moz-linear-gradient(-45deg, #ffb300 0%, #ce8600 100%);
    background: -webkit-linear-gradient(135deg, #ffb300 0%, #ce8600 100%);
    background: linear-gradient(135deg, #ffb300 0%, #ce8600 100%);
}

#logoutbg{
    position: absolute;
    bottom: 10px;
    height: 45px;
    width: 35px;
}
#home{
    background-image: url("../icons/md-contact.svg");
}
#calendar{
    background-image: url("../icons/md-calendar.svg");
}
#option{
    background-image: url("../icons/md-options.svg");
}
#vote{
    background-image: url("../icons/md-paper.svg");
}
#logout{
    position: absolute;
    bottom: 20px;
    background-image: url("../icons/md-log-out.svg");
}

