/*FILE CSS*/
header{
    padding: 1em;
}
header>img{
    display: block-inline;
    border-radius: 128px;
    margin: 2em 2em 0em 1em;
}
figcaption{
    display: inline-block;
    vertical-align: top;
    height: 256px;
    margin: 0 auto;
}
h1{
    margin-top: 2em;
}
.hub_notizie{
    margin: 2em auto 0;
    width: 100%;
    height: auto;
    text-align: center
}
.notizia{
    vertical-align: top;
    min-width: 200px;
    margin: 1em 1em;
    display: inline-block;
    height: 450px;
    width: 25%;
    border: 1px solid #ececec;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 1em;
    overflow-x: auto;
}
.hdnotizia{
    text-align: right;
    border-bottom: 1px solid #ececec;
    color: #bdbdbd;
}
.text{
     text-align: left;
    line-height: 1.7em;
}
.main-info{
    font-weight: bold;
    margin-bottom: 2em;
    
}
.rosso{
    color:red!important;
}
.blu{
    color: blue!important;
}
#main_content{
    width: 90%;
    margin-top: -1em;
    padding-bottom: 2em;
    margin-bottom: 3em;
}