/*FILE CSS*/
html{height: 100%;}
body{
    margin: 0px;
    color: #1c2024;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: #8e141f;
    width: auto;
    height: 100%;
    padding-left: 75px;
}
::-webkit-scrollbar{
    background-color: #fff;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #1c2024;
}
header{
    padding: 1em;
}
header>img{
    display: block-inline;
    border-radius: 128px;
    margin: 2em 2em 0em 1em;
}
figcaption{
    display: inline-block;
    vertical-align: top;
    height: 256px;
    margin: 0 auto;
}
h1{
    margin-top: 2em;
    font-size: 3em;
    text-align: center;
}
.hub_notizie{
    margin: 2em auto 0;
    width: 100%;
    height: auto;
    text-align: center
}
.notizia{
    vertical-align: top;
    min-width: 200px;
    margin: 1em 1em;
    display: inline-block;
    height: 450px;
    width: 25%;
    border: 1px solid #ececec;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    padding: 1em;
}
.hdnotizia{
    text-align: right;
    border-bottom: 1px solid #ececec;
    color: #bdbdbd;
}
.text{
     text-align: left;
    line-height: 1.7em;
}
.main-info{
    font-weight: bold;
    margin-bottom: 2em;
    
}
.rosso{
    color:red!important;
}
.blu{
    color: blue!important;
}
#cont{
    display: block;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#main_content{
    background-color: #f6f6f6;
    width: 90%;
    margin-top: -1em;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2em;
    margin-bottom: 3em;
}