/* CSS Document */
html{height: 100%;}
body {
    margin: 0px;
    color: #1c2024;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: #8e141f!important;
    width: 100%;
    height: 100%;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: #ffb300 ;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
::-webkit-scrollbar{
    background-color: #fff;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #1c2024;
}
#main_content{
    background-color: #fff;
    width: 60%;
    margin-top: -1em;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 10px 10px;
}
nav{
    background-color: #1c2024;
    padding-top: 15px;
    padding-bottom: 10px;
    
}
nav>ul{
    display: inline;
    text-align: center;
    margin:  5px 0px;
}
nav>ul>li{
    list-style-type: none;
}
h1{
    text-align: center;
    font-size: 3em;
}
table{
    margin: 2em auto auto;
}
td{
    padding: 5px;
    text-align: center;
}
h2{
    padding-left: 3em;
}
p{
    padding: 0em 5em 3em;
}

footer>img{
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 0px 0px -5px;
}
.campo{
    width: 160px;
}
#cont{
    display: block;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#push{
    height: 100px;
}
