/* CSS Document */

a:hover{
    text-decoration: none;
    color: #8e141f;
}
h3{
    margin-top: 2em;
	text-align: center;
}
article{
    padding: 0em 5em 1em 5em;
    font-size: 1.4em;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    height: 50px;
    padding: 5px 0px;
}

#main_page{
    background-color: #f6f6f6;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    border-radius: 10px 10px 10px 10px;
}
#main_content{
    width: 60%;
    margin-top: 0em;
}
