/* CSS Document */
html{height: 100%;}
body {
    margin: 0px;
    color: #1c2024;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background: #FFBEB5!important;
    width: 100%;
    height: 100%;
}
#ht{
    margin: 1em auto;
    text-align: center;
    color: #1c2024;
    background-color: #fff;
    border: #1c2024 solid;
    width: 50%;
    font-size: 3em;
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: #ffb300 ;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
::-webkit-scrollbar{
    background-color: #fff;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #1c2024;
}
#main_content{
    border: #1c2024 solid;
    background-color: #fff;
    background-image: url("../img/ptrn.jpg");
    width: 70%;
    margin-top: -1em;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 2em;
}
nav{
    background-color: #1c2024;
    padding-top: 15px;
    padding-bottom: 10px;
    
}
nav>ul{
    display: inline;
    text-align: center;
    margin:  5px 0px;
}
nav>ul>li{
    list-style-type: none;
}



p{
    padding: 0em 5em 3em;
}

footer>img{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0px 0px -5px;
}

table{
    margin: 0 auto;
    width: 80%;
}
th{
    background-color: #fff;
    border: #1c2024 solid;
    margin: 0;
    padding: .5em;
}
td{
   background-color: #fff;
    border: #1c2024 solid; 
    width: 50%
}
.space{
    height: 30px;
}
.void{
    height: 100px;
    width:100px;
    background-color: rgba(0,0,0,0.00);
    border: rgba(0,0,0,0.00);
}

.imgp{
    width: 100px;
    height: 100px;
    display: inline;
}
h1,h4{
    margin: 0;
}
#cont{
    display: block;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
#push{
    height: 100px;
}