/* CSS Document */
table{
    margin: auto;
}
td{
    padding: 5px 10px;
    text-align: left;
}
th{
    padding-top: 2em;
}
.btn{
    text-align: center !important;
}

#main_content{
    width: 60%;
    margin-top: -1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.campo{
    width: 160px;
}
