/* CSS Document */
a:hover{
    text-decoration: none;
    color: #fff;
}
#main_content{
    width: 60%;
    margin-top: -1em;
    padding: 0 0 2em;
}


p{
    text-align-last: center;
}

footer>img{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0px 0px -5px;
}

.frm{
    margin: 0 auto;
    text-align: center;
}
#inv{
    text-align: left !important; 
}
